<!--HEADER START-->
<header role="banner">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container">
      <a class="navbar-brand my-2 py-1 my-md-0 py-sm-0" title="Home" href="/doc">
        <img src="./assets/img/tbc-orange-50.png" alt="Orange Logo">
      </a>
      <span class="navbar-title h1 text-white mt-2 mt-md-auto ml-2 mr-auto mb-0">to be continuous</span>
      <button type="button" class="navbar-toggler" [attr.aria-expanded]="!isMenuCollapsed" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" >
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item ml-0">
            <a class="nav-link" href="/doc/intro" title="Documentation portal">Docs</a>
          </li>
          <li class="nav-item active">
            <span class="nav-link" title="Template initializer tool"><span
              class="fa fa-wrench"></span> Kicker</span></li>
          <li class="nav-item">
            <a class="nav-link"
               href="https://gitlab.com/to-be-continuous/samples"
               title="Project samples using templates"><span class="fab fa-gitlab"></span> Examples</a></li>
          <li class="nav-item">
            <a class="nav-link"
               [href]="tbcUrl"
               title="Templates code and documentation"><span class="fab fa-gitlab"></span> GitLab</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--HEADER END-->

<main class="container">
  <app-kicker></app-kicker>
</main>

<footer class="footer navbar-dark bg-dark mt-4 py-2">
  <div class="container">
    <span class="text-muted">© Orange 2019</span>
  </div>
</footer>
