<nav id="stepbar" class="o-stepbar" aria-label="Stepbar navigation">
  <ol>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#build-section" title="Step 1: Configure your build system">
        <span class="step-number">1</span>
        <span class="step-title">Build</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#analyse-section" title="Step 2: Configure your code analysis tools" aria-current="step">
        <span class="step-number">2</span>
        <span class="step-title">Analysis</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#package-section" title="Step 3: Configure your packaging tools" aria-current="step">
        <span class="step-number">3</span>
        <span class="step-title">Packaging</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#infra-section" title="Step 4: Configure your infra-as-code technology" aria-current="step">
        <span class="step-number">4</span>
        <span class="step-title">Infrastructure</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#hosting-section" title="Step 5: Configure your hosting environment" aria-current="step">
        <span class="step-number">5</span>
        <span class="step-title">Deployment</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#acceptance-section" title="Step 6: Configure your acceptance tools">
        <span class="step-number">6</span>
        <span class="step-title">Acceptance</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#others-section" title="Step 7: Configure other templates">
        <span class="step-number">7</span>
        <span class="step-title">Others</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#gitlab-ci-section" title="Step 8: Obtain your GitLab CI file">
        <span class="step-number">8</span>
        <span class="step-title">GitLab CI file</span>
      </a>
    </li>
  </ol>
</nav>
