<div class="d-flex align-items-center flex-row p-2">
  <!-- Configuration (simple/advanced) -->
  <div
    class="btn-group btn-group-toggle btn-group-sm rounded"
    data-toggle="buttons"
  >
    <label
      class="btn btn-secondary"
      [class.active]="options.showAdvanced === false"
    >
      <input
        type="radio"
        name="form-mode"
        [(ngModel)]="options.showAdvanced"
        [value]="false"
        [checked]="options.showAdvanced === false"
      />basic</label
    >
    <label
      class="btn btn-secondary"
      [class.active]="options.showAdvanced === true"
    >
      <input
        type="radio"
        name="form-mode"
        [(ngModel)]="options.showAdvanced"
        [value]="true"
        [checked]="options.showAdvanced === true"
      />advanced</label
    >
  </div>
  <!-- Extensions -->
  <fieldset class="ml-auto" *ngIf="extensions.length > 0">
    <label class="col-form-label col-form-label-sm font-weight-bold">
      Extensions
    </label>
    <div
      class="custom-control custom-checkbox custom-control-inline ml-2 mr-0 mb-0"
      *ngFor="let ext of extensions"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        [id]="'ext-' + ext.id"
        [checked]="options.hasExtension(ext.id)"
        (change)="options.setExtension(ext.id, $event.target.checked)"
      />
      <label
        class="custom-control-label"
        [for]="'ext-' + ext.id"
        >{{ ext.name }} <i class="fas fa-circle-info" [ngbTooltip]="ext.description"></i></label
      >
    </div>
  </fieldset>
</div>
